@model IEnumerable<EmployeeDto>
@{
    ViewData["Title"] = "Index";
}
<div>
    <form asp-action="Index">
        <div class="mb-3">
            <input type="text" class="form-control" name="searchInp" placeholder="search by name"/>
        </div >
        <input   type="submit" value="Search" class="btn btn-success mb-3"/>
    </form>
</div>

@if (Model?.Count() > 0)
{
    <a asp-action="Create" class="btn btn-warning ">create new Employyee</a>
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(D=>D.Id)</th>
                <th> @Html.DisplayNameFor(D=>D.Name)</th>
                <th> @Html.DisplayNameFor(D=>D.Age)</th>
                <th> @Html.DisplayNameFor(D=>D.Address)</th>
                <th> @Html.DisplayNameFor(D=>D.Salary)</th>
                <th> @Html.DisplayNameFor(D=>D.Email)</th>
                <th> @Html.DisplayNameFor(D=>D.PhoneNumber)</th>
                <th> @Html.DisplayNameFor(D=>D.Image)</th>
                <th> @Html.DisplayNameFor(D=>D.HiringDate)</th>
                <th> @Html.DisplayNameFor(D=>D.DepartmentId)</th>
                <th> @Html.DisplayNameFor(D=>D.CreatedAt)</th>
                <th>details</th>
                <th>edit</th>
                <th>Delte</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var dep in Model)
            {

                <tr>
                    <td>@dep.Id</td>
                    <td>@dep.Name</td>
                    <td>@dep.Age</td>
                    <td>
                        <img src="~/Files/Images/@dep.ImageUrl" height="50" width="70 " >
                    </td>
                    <td>@dep.Address</td>
                    <td>@dep.Salary</td>
                    <td>@dep.Email</td>
                    <td>@dep.PhoneNumber</td>
                    <td>@dep.HiringDate</td>
                    <td>@dep.DepartmentId</td>
                    <td>@dep.CreatedAt</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@dep.Id" class="btn btn-warning">Details</a>
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@dep.Id" class="btn btn-success">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@dep.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="GetDepartment" class="btn btn-danger">Details</a>



}
else
{
    <div>
        <a asp-action="Create" class="btn btn-warning">create new Department</a>


        no data
    </div>

}
